<?xml version="1.0"?>
<launch>
  <arg name="world_name" default="2willow_garage.world"/>
  <!--<arg name="world_name" default="Tsudanuma_2-3.world"/>-->
  <!--<arg name="world_name" default="willow_garage_number2.world"/>-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find nav_cloning)/world/$(arg world_name)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>
</launch>
